= simple_form_for song, html: { class: 'form-inline' } do |form|
  - if song.errors.any?
    #error_explanation
      %h2
        = pluralize(song.errors.count, "error")
        prohibited this song from being saved:
      %ul
        - song.errors.full_messages.each do |message|
          %li= message

  = form.input :title, label_html: { class: 'mx-2' }
  = form.input :artist, label_html: { class: 'mx-2' }
  = form.input :url, placeholder: 'youtube.com...', label_html: { class: 'mx-2' }
  = form.input :suggested_by, label_html: { class: 'mx-2' }

  = form.button :submit, 'Add Song', class: 'btn btn-primary mx-2'
